#appbar {
    background-color: #00493A;
    color: white;
}

#wichat {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

#play, #profile, #credits, #history, #logout, #language-button, #login, #signup {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

#play, #profile, #credits, #history, #language-button {
    white-space: nowrap;
    padding-inline: 2em;
}

#login, #signup {
    white-space: nowrap;
    padding-inline: 3em;
}

#navbar {
    margin-bottom: 8em;
}

.language-tab {
    display: grid;
    grid-template-columns: 3em 1fr;
}
