node_modules
.env
coverage
Dockerfile
e2e/
src/components/ContestHistory/ContestHistory.test.js
src/components/ChatBot/ChatBot.test.js
src/components/AddUser/AddUser.test.js
src/App.test.js
src/components/Temporizador/Temporizador.test.js
src/components/Profile/Profile.test.js
src/components/Points/Points.test.js
src/components/NavBar/NavBar.test.js
src/components/Login/Login.test.js
src/components/Internationalization/Internationalization.test.js
src/components/Home/Home.test.js
src/components/History/History.test.js
src/components/Game/Game.test.js